.div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.div > div {
  width: 80%;
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.1), 8px 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.div > div > span {
  display: block;
  font-size: 30px;
  margin: 20px;
}

.div > div > div {
  text-align: left;
  margin: 10px 0px 8px 8px;
}

.div > div > div > p {
  font-size: 20px;
}
